#root, body, html {
  /*enables vertical centering*/
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: Montserrat;
}

.Body {
  width: 350px;
  min-height: 200px;
  border: 2px solid black;
}

.header {
  text-align: center;
}

.hz {
  width: 90%;
  height: 2px;
  margin: 5% 15px 15px 5%;
  background: black;
}

form {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

input {
  flex: 0 1 100%;
  height: 1.2em;
  font-size: 1.2em;
  margin: auto;  
}

Button {
  flex: 0 1 10%;
  /*align button to the right*/
  margin-left: auto;
  
  margin-top: 10px;
  flex-wrap: wrap;
}

*:focus {
  outline: none;
}